DISCORD_TOKEN= # bot token. do not fucking share this shit to anyone that has no business having it
CLIENT_ID= # bot id
ADMINISTRATOR_ID= # id of the bot host's account, althought there's no administrator command here yet so it can be ignore